services:
    postgres:
        build: ${PWD}/docker/postgres
        container_name: postgres
        environment:
            POSTGRES_PASSWORD_FILE: /run/secrets/postgres-passwd
        env_file: .env
        secrets:
            - postgres-passwd
        volumes:
            - postgres_data:/var/lib/postgresql/
            - postgres_logs:/var/log/postgres
        expose:
            - 5432
        networks:
            - 42Sentinel
        restart: unless-stopped
        healthcheck:
            test:
                ["CMD-SHELL", "pg_isready -h localhost -p $POSTGRES_PORT -U postgres"]
            interval: 5s
            timeout: 2s
            retries: 3

    fastapi:
        build:
            context: ..
            dockerfile: ${PWD}/docker/fastapi/Dockerfile
        container_name: fastapi
        environment:
            FASTAPI_PASSWORD_FILE: /run/secrets/fastapi-passwd
        env_file: .env
        secrets:
            - fastapi-passwd
        networks:
            - 42Sentinel
        expose:
            - 5000
        restart: unless-stopped
        healthcheck:
            test:
                ["CMD-SHELL", "curl --fail http://localhost:5000/health || exit 1"]
            interval: 5s
            timeout: 2s
            retries: 3

#use volume for dev purposes (Hot reload, for prod, swap dockerfile + remove volume) 
    vue:
        build:
            context: ..
            dockerfile: ${PWD}/docker/vue/Dockerfile
        container_name: vue
        environment:
            VUE_PASSWORD_FILE: /run/secrets/vue-passwd
        env_file: .env
        secrets:
            - vue-passwd
        networks:
            - 42Sentinel
        ports:
            - "5173:5173"
        volumes:
            - ../frontend:/app
            - /app/node_modules
        restart: unless-stopped


networks:
    42Sentinel:
        name: 42Sentinel

volumes:
    postgres_data:
        name: postgres_data
    postgres_logs:
        name: postgres_logs
    # frontend:
    #     name: frontend

secrets:
    vue-passwd:
        file: ${PWD}/docker/secrets/vue-passwd.txt
    fastapi-passwd:
        file: ${PWD}/docker/secrets/fastapi-passwd.txt
    postgres-passwd:
        file: ${PWD}/docker/secrets/postgres-passwd.txt
